<!DOCTYPE html>
<html>
  <head>
    <title>Flowers in Mongo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <br>
  <a href="/">FLOWER HOME</a>
  </body>
</html>
