body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.danger {
  background-color: red;
  color: white;
}

.main_flower_image {
  max-width: 100%;
}